@font-face {
    font-family: 'Molen';
    src: url("fonts/molen-surplus.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("fonts/Inter-Regular.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'InterThin';
    src: url("fonts/Inter-Thin-BETA.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'InterSemiBold';
    src: url("fonts/Inter-Medium.woff") format('woff');
    font-weight: normal;
}

body {
    font-family: 'Inter';
    background-color: #E5D5CE;
    height: 100vh;
    margin: 0;
}

/*  ocultar a barra de rolagem */
::-webkit-scrollbar {
    display: none;
  }

.navBar {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    width: 100%;

    img:hover {
        transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
    }

    .logo {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        img{
            cursor: pointer;
            margin-left: 60%;
            max-width: 100px;
            height: auto;
            
        }
    }

    .barraPesquisa {
        margin-top: 1.8%;
        position: relative;
    }
    
    .barraPesquisa input {
        width: 1000px;
        padding: 14px 40px 14px 50px; /* Espaço para o ícone de pesquisa*/
        border: #8C695D 2px solid;
        border-radius: 13px;
        background-color: #F5F5F5;
    }
    
    .barraPesquisa input:focus {
        border: #8C695D 2px solid;
        outline: none;
    }
    
    .barraPesquisa ::placeholder {
        color: #D6D6D6;
        padding-left: 3px;
        font-size: 14px;
        font-weight: bold;
        font-family: 'InterThin';
        letter-spacing: 1px;
    }
    
    .barraPesquisa i {
        position: absolute;
        left: 96.5%; 
        top: 20%;
        color: #8C695D;
        cursor: pointer;
    }

    .iconesNavBar {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
        cursor: pointer;

        #profileSymbol{
            margin-left: 25px;
            max-width: 37px;
        }
        #cartSymbol{
            margin-left: 20px;
            max-width: 40px;
        }
        #menuSymbol{
            margin-left: 30px;
            max-width: 10px;
            margin-right: 35px;
        }

    }

}

/* NAV BAR 2 */
.navBar2 {
    display: flex;
    justify-content: space-between;
    background-color: #6D2626;
    margin-bottom: 0%;
        p {
            margin-left: 6%;
            margin-right: 6%;
            font-family: 'InterThin';
            color: #F5F5F5;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;   

            &:hover {
                text-decoration: underline; 
            }
        }   
}

#exibicaoProdutos {
    #tituloProdutos {
        text-align: center;
        font-size: 26px;
        color: #ffffff;
        background-color: #6D2626;
        height: 100px;
        font-family: 'Inter';
        text-transform: uppercase;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-top: -40px;
        letter-spacing: 2px;

        p {
            font-family: 'InterThin';
            font-size: 20px;
            text-transform: none;
            margin-top: -30px;
        }
    }
    #produtos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


}

/* PARTE DO PRODUTO */
#produtos {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto-card {
    background-color: #F5F5F5;
    border: 1px solid #6D2626;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.produto-card:hover {
    transform: scale(1.05);
}

.produto-imagem {
    width: 100%;
    height: auto;
}

.produto-info {
    padding: 10px;
}
